.lost-form-container {
  font-family: "Yusei Magic", sans-serif;
  font-style: normal;
}

.form-title {
  color: #6c2100;
  text-align: left;
  font-size: 30px;
}

.info {
  background: linear-gradient(transparent 80%, #ff6f6fc5 0%);
  text-align: left;
}

.delete-button-container {
  text-align: right;
}
