.pin-text{
  font-family: "Yusei Magic", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #000000c5;
  text-align: left;
  background-color: rgba(255, 36, 7, 0.322);
 
}
.pin-info{
  font-family: "Yusei magic", sans-serif;
  text-align: right;
  color: black;

  
}